.productPage {
    width: 1290px;
    margin-left: 155px;
    display: inline-block;

}

.photoBox {
    display: inline-flex;
    /*border: red solid 1px;*/

}

.productSmallCard {
    /*border: red solid 1px;*/
    display: inline;
}
.productSmallCard img {
    width: 300px;
    height: 365px;
    border-radius: 10px;
    margin-right: 30px;
}
.productSmallCard img:last-child {
    margin-right: 0;
}
.rateBox{
    display: inline;

}

.rateBox img {
    height: 20px;
    width: 19px;
    margin-right: 8px;
}



.productInfo {
    display: inline;


}
.productPrice {
    float: right;
    margin-right: 30px;
}

.pagionationsBox {
    text-align: center;
    height: 50px;
    width: 377px;
    border: #868686 solid 1px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}

