.productPage {
    display: flex;
    /*margin-bottom: 77px;*/
    justify-content: space-between;
}

.breadcrumbs {
    margin-top: 30px;
    margin-left: 155px;
    height: 20px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

    /* Grey / Dark / 3 */
    color: rgba(0, 0, 0, 0.3);


}

.photoBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: inherit;
    /*width: 45vw;;*/
    /*height: 67.5vh;*/
    /*width: 45vw; !* (850px / viewport width) * 100 *!*/
    /*height: 67.5vh; !* (1273px / viewport height) * 100 *!*/
}

.mainImg {
    /*display: inline;*/
    /*object-fit: cover;*/
    object-fit: scale-down;
    max-width: 420px;
    max-height: 634px;
    width: 30vw;
    height: 45vw;
    padding: 5px;
}


.productInfoBox {
    display: inline;
    width: 360px;
    margin: 0 5px 0 5px;
}

.discount {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
    padding: 3px 6px;

    /*position: absolute;*/
    width: 49px;
    height: 24px;
    /*height: 24px;*/
    /*left: 1085px;*/
    /*top: 160px;*/

    /* Accent 2 / 4 */
    background: #FA4A69;
    color: white;
    border-radius: 20px;
}

.title {
    display: inherit;
    margin: 0 0 15px 0;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1.2px;
    color: #000000;
}

.description {
    display: inline-block;
    width: 300px;

    /* Body / 15 */
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    /* or 153% */
    letter-spacing: -0.6px;

    /* Grey / Dark / 4 */
    color: rgba(0, 0, 0, 0.6);
}

.newPrice {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height, or 121% */
    text-align: right;
    letter-spacing: -0.8px;

    /* Base / Black */
    color: #000000;
}

.oldPrice {
    margin-left: 10px;
    text-decoration: line-through #FA4A69 solid 1px;
    height: 30px;
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align: right;
    letter-spacing: -0.8px;
    color: rgba(0, 0, 0, 0.3);
}

.productColorText {

    margin-top: 27px;
    font-family: 'Inter', serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    /* Grey / Dark / 3 */
    color: rgba(0, 0, 0, 0.3);
}

.productColorImg {
    box-sizing: border-box;
    height: 80px;
    margin-top: 20px;
}

.productColorImg img {
    /*display: inline-block;*/
    box-sizing: border-box;
    object-fit: scale-down;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

.disableColor {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.activeColor {
    border: 2px solid #2D74FF;
}

.productAdditionalImgs {
    display: flex;
    object-fit: scale-down;
    max-width: 420px;
    max-height: 634px;
    width: 30vw;
    height: 45vw;
    padding: 5px;
}

.productSizeBox2 {
    /*width: 360px;*/
    /*height: 50px;*/
    margin-top: 27px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    /*display: flex;*/
    align-items: center;
    letter-spacing: -0.5px;

    /* Grey / Dark / 3 */
    color: rgba(0, 0, 0, 0.3);

}

.productSizeBox {
    /*display: inline;*/
    width: 360px;
    height: 50px;
    margin-top: 27px;


    /* Caption / 3 / Medium */
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    /*display: flex;*/
    align-items: center;
    letter-spacing: -0.5px;

    /* Grey / Dark / 3 */
    color: rgba(0, 0, 0, 0.3);

}

.sizes {
    margin-top: 20px;
}

/*.productSizeBox a {*/
/*    float: right;*/
/*}*/

/*.productSizeBox2 a {*/
/*    float: right;*/
/*}*/

.productSize {
    /*width: 360px;*/
    /*height: 50px;*/
    padding: 12px 16px;
    cursor: pointer;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/*.productSizeDropDown {*/
/*    display: none;*/
/*}*/
/*.productSize:hover .productSizeDropDown {*/
/*    display: inline-block;*/
/*}*/


.addBtn {
    /*position: absolute;*/
    width: 281px;
    height: 60px;
    margin-top: 27px;
    /*margin-bottom: 24px;*/
    /*left: 1085px;*/
    /*top: 669px;*/

    /* Accent 1 / 4 */
    background: #2D74FF;
    border-radius: 10px;
    /* Caption / 1 / Medium */
    font-family: 'Inter', serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    /*display: flex;*/
    align-items: center;
    letter-spacing: -0.6px;

    /* Base / White */
    color: #FFFFFF;
}

.addBtn:hover {
    cursor: pointer;
}

.aditionalInfo {
    /* Additional info */
    /*border: black 1px solid;*/
    width: 360px;
    height: 266px;
    margin-top: 10px;
    margin-bottom: 19px;

}

.dropdown {
    /*position: absolute;*/
    /* Caption / 2 / Medium */
    /*border: black 1px solid;*/
    /*position: relative;*/
    display: inline-block;

    width: 300px;
    /*height: 30px;*/
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    letter-spacing: -0.3px;

    /* Base / Black */
    color: #000000;
}

.dropdownContent {
    margin-top: 10px;
    color: #656262;

}

.dropdown:hover .dropdownContent {
    display: block;
    cursor: pointer;
    background-color: #ffffff;
}


.shippingDropdown {
    /*position: absolute;*/
    left: 0;
    right: 16.8%;
    top: 0;
    bottom: 0;

    /* Caption / 2 / Medium */
    font-family: 'Inter', serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

    /* Base / Black */
    color: #000000;
}

.br {
    margin-top: 24px;
    margin-bottom: 26px;
    border-top: rgba(0, 0, 0, 0.10) solid 1px;
    height: 1px;
    width: 100%;
}

.lineDeviderSmall {
    display: inline-block;
    border: #000000 solid 1px;
    border-collapse: inherit;
    width: 355px;
    opacity: 10%;
}

.lockScroll {
    overflow: hidden;
}

.main{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 380px) {
    .productPage {
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .productInfoBox {
        margin: 30px 0 0 5px;
        width: 310px;
        align-self: center;
    }
    .aditionalInfo {
        width: unset;
        height: unset;
        margin: 0;
    }
    .photoBox {
        display: flex;
        flex-direction: column;
    }
    .mainImg {
        max-width: 100%;
        width: unset;
        height: unset;
    }
    .productAdditionalImgs {
        max-width: 100%;
        width: unset;
        height: unset;
    }
}

@media (min-width: 381px) and (max-width: 550px) {
    .productPage {
        justify-content: space-around;
        flex-direction: column;
    }
    .productInfoBox {
        margin: 30px 5px 0 0;
        align-self: center;
    }
    .photoBox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .mainImg {
        width: calc(50% );
    }
    .productAdditionalImgs {
        width: calc(50% );
    }
}

@media (min-width: 551px) and (max-width: 992px) {
    .photoBox {
        display: flex;
        flex-direction: column;
        /*justify-content: space-around;*/
    }
}

/*@media (max-width: 1200px) {*/
/*    .photoBox {*/
/*        display: none;*/
/*    }*/
/*    .mainImg {*/
/*        max-width: 250px;*/
/*    }*/
/*    .productAdditionalImgs {*/
/*        max-width: 250px;*/
/*    }*/
/*}*/