body{
    letter-spacing: -0.5px;
}

.bg-green{
    background-color: #90DA1A;
}

.bg-red{
    background: red;
}

.bg-blue{
    background: #1a73e8;
}

.black{
    color: black;
    letter-spacing: -0.3px;
}

.marCategory{
    margin-top: 30px;
    margin-bottom: 40px;
}

.category{
    margin: 0;
    font-size: 48px;
    letter-spacing: -1.6px;
}

.selectDiv{
    width: 135px;
    height: 40px;
    box-sizing: content-box;
}

.select{
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    letter-spacing: -0.5px;
}

.nav-bar{
    width: 250px;
}

.borderLine{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.navBtn{
    padding: 10px 0 10px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.navBtn:focus{
    border: none;
    background-color: white;
    box-shadow: none;
    color: black;
    --bs-accordion-btn-active-icon: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230c63e4%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e');
}

.navBtn:hover{
    border: none;
    background-color: white;
    color: black;
    box-shadow: none;
}

.navBtn:active{
    border: none;
    background-color: white;
    color: black;
    box-shadow: none;
}

/*TODO :not ?*/
/*https://getbootstrap.com/docs/5.2/components/collapse/#accessibility*/
/*find shown.bs.collapse*/

.pointer{
    margin-bottom: 4px;
    cursor: pointer;
}
.check:checked + .form-check-label{
    color: #2D74FF;
}

.previewProd{
    width: max-content;

    padding: 0 0 0 0;
    position: relative;
}

.images{
    width: 100%;
    max-width: 300px;
    object-fit: cover;
}

.add{
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    top: 315px;
    left: 274px;
}

.art{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.c-black{
    color: black;
}

.price{
    margin-top: -4px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.6px;
    text-align: right;

}
