.rectangle {
    min-width: 320px;
    position: relative;
    background: #17181F;
}

.banner_img {
    margin: 2rem 2rem;
    max-width: 100%;
    text-align: center;
}

.icon_left {
    position: absolute;
    left: 5%;
    top: 45%;
    cursor: pointer;
}

.icon_right {
    position: absolute;
    right: 5%;
    top: 45%;
    cursor: pointer;
}

.carouselImg {
    animation: fadeInOut 1s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* Media queries to adjust the image size for different screen sizes */
@media (max-width: 550px) {
    /* Styles for small screens (e.g., smartphones) */
    .banner_img {
        margin-bottom: 10px;
    }
    .btnGroup2 {
        justify-content: center;
    }
    .btnGroup2 button {
        font-size: 10px !important;
    }
}

@media (max-width: 767px) {
    /* Styles for small screens (e.g., smartphones) */
    .banner_img img {
        max-width: 100%; /* Adjust the image to the full width of the screen */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium-sized screens (e.g., tablets) */
    .banner_img img {
        max-width: 90%; /* Adjust the image to 90% of the screen width */
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Styles for larger screens (e.g., small laptops) */
    .banner_img img {
        max-width: 80%; /* Adjust the image to 80% of the screen width */
    }
}

@media (min-width: 1200px) {
    /* Styles for extra-large screens (e.g., large laptops and desktops) */
    .banner_img img {
        max-width: 70%; /* Adjust the image to 70% of the screen width */
    }
}