.container {
  margin: auto;
  margin-bottom: 98px;
  max-width: 1320px;
}

.blog_items {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.h1 {
  max-width: 1320px;
  margin-left: 10px;
  margin-top: 98px;
  margin-bottom: 48px;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 122.222% */
  letter-spacing: -1.2px;
}

@media (max-width: 410px) {
  .blog_items {
    margin: 0;
    gap: 0;
  }
}
/* Mobile Devices */
//@media (max-width: 767px) {
@media (max-width: 844px) {
  .blog_items {
    grid-template-columns: 1fr;
  }
}

/* Tablets */
// @media (min-width: 768px) and (max-width: 1023px) {
@media (min-width: 845px) and (max-width: 1319px) {

  .blog_items {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktops and Laptops */
//@media (min-width: 1024px) {
@media (min-width: 1320px) {
  .blog_items {

  }

}
