/* Categories */
.categories {
    position: absolute;
    width: 178px;
    height: 44px;
    left: 156px;
    top: 2446px;

    /* Headline / 4 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */

    letter-spacing: -1.2px;

    color: #000000;
}

/* Group 11 */
.group11 {
    position: absolute;
    width: 1290px;
    height: 520px;
}

/* Mask group */
.mask_group_men {
    position: absolute;
    width: 630px;
    height: 520px;
}

/* Rectangle 47 */
.rectangle47 {
    position: absolute;
    width: 630px;
    height: 520px;
    top: 2566px;
    left: 156px;

    background: #C4C4C4;
    border-radius: 10px;
}

/* image 1 */
.img1 {
    /*position: absolute;*/
    width: 630px;
    height: 520px;
    border-radius: 10px;

    background: url("../images/group11/image 1.png");
}

/* Men */

.text_men {
    position: absolute;
    width: 590px;
    height: 70px;
    left: 15px;

    /* Headline / 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 70px;
    /* identical to box height, or 109% */

    letter-spacing: -3px;

    color: #000000;
}

/* Group 6 */

.group6 {
    position: absolute;
    width: 74px;
    height: 24px;
    top: 70px;
}

/* Explore */

.explore_men {
    position: absolute;
    width: 50px;
    height: 23px;
    left: 15px;
    /* Body 15 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    /* identical to box height, or 153% */

    text-align: center;
    letter-spacing: -0.6px;

    color: #000000;

    text-shadow: 0px 5px 12px rgba(203, 105, 193, 0.25);
}

.arrow_men {
    position: absolute;
    width: 24px;
    height: 24px;
}

.arrow_vector_men {
    position: absolute;
    left: 265%;
    right: 25.02%;
    top: 24.98%;
    bottom: 24.98%;

    /*background: #000000;*/
}

.rectangle49 {
    position: absolute;
    width: 300px;
    height: 255px;
    top: 2566px;
    left: 820px;

    background: #C4C4C4;
    border-radius: 10px;
}

/* Mask group */
.mask_group_women {
    position: absolute;
    width: 300px;
    height: 255px;
}

/* image 2 */
.img2 {
    position: absolute;
    width: 300px;
    height: 255px;
    border-radius: 10px;

    background: url("../images/group11/image 2.png");
}

.text_women {
    position: absolute;
    width: 280px;
    height: 34px;

    /* Headline / 5 */
    top: 55px;
    left: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height, or 121% */

    letter-spacing: -0.8px;

    color: #000000;
}

.group2 {
    position: absolute;
    width: 74px;
    height: 24px;
    top: 70px;
}

/* Explore */

.explore {
    position: absolute;
    width: 50px;
    height: 23px;
    left: 15px;
    top: 110px;

    /* Body 15 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    /* identical to box height, or 153% */

    text-align: center;
    letter-spacing: -0.6px;

    color: #000000;

    text-shadow: 0px 5px 12px rgba(203, 105, 193, 0.25);
}

.arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 60px;
    top: 109px;
}

.arrow_vector {
    position: absolute;
    left: 25%;
    right: 25.02%;
    top: 24.98%;
    bottom: 24.98%;

    /*background: #000000;*/
}


.rectangle51 {
    position: absolute;
    width: 300px;
    height: 255px;
    top: 2566px;
    left: 1150px;

    background: #C4C4C4;
    border-radius: 10px;
}

/* Mask group */
.mask_group_sale {
    position: absolute;
    width: 300px;
    height: 255px;
}

/* image 4 */
.img4 {
    position: absolute;
    width: 300px;
    height: 255px;
    border-radius: 10px;

    background: url("../images/group11/image 4.png");
}

.text_sale {
    position: absolute;
    width: 280px;
    height: 34px;

    /* Headline / 5 */
    top: 55px;
    left: 27px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height, or 121% */

    letter-spacing: -0.8px;

    color: #000000;
}

.group2 {
    position: absolute;
    width: 74px;
    height: 24px;
    top: 70px;
}

.rectangle48 {
    position: absolute;
    width: 300px;
    height: 255px;
    top: 2830px;
    left: 820px;

    background: #C4C4C4;
    border-radius: 10px;
}

/* Mask group */
.mask_group_kids {
    position: absolute;
    width: 300px;
    height: 255px;
}

/* image 3 */
.img3 {
    position: absolute;
    width: 300px;
    height: 255px;
    border-radius: 10px;

    background: url("../images/group11/image 3.png");
}

.text_kids {
    position: absolute;
    width: 280px;
    height: 34px;

    /* Headline / 5 */
    top: 55px;
    left: 27px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height, or 121% */

    letter-spacing: -0.8px;

    color: #000000;
}

.group4 {
    position: absolute;
    width: 74px;
    height: 24px;
    top: 70px;
}

.rectangle50 {
    position: absolute;
    width: 300px;
    height: 255px;
    top: 2836px;
    left: 1150px;
    /*top: 2830px;*/
    /*left: 1120px;*/

    background: #C4C4C4;
    border-radius: 10px;
}

/* Mask group */
.mask_group_kids {
    position: absolute;
    width: 300px;
    height: 255px;
}

/* image 5 */
.img5 {
    position: absolute;
    width: 300px;
    height: 255px;
    border-radius: 10px;

    background: url("../images/group11/image 5.png");
}

.text_collection {
    position: absolute;
    width: 280px;
    height: 34px;

    /* Headline / 5 */
    top: 55px;
    left: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height, or 121% */

    letter-spacing: -0.8px;

    color: #000000;
}

.group5 {
    position: absolute;
    width: 74px;
    height: 24px;
    top: 70px;
}


