.card {
    position: relative;
    width: 300px;
    height: 466px;
    border-radius: 10px;
    margin:25px 30px;

    transition: box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;

&:hover {
     box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.10);
     transform: translateY(-5px);
 }

.addToCart {
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    top: 67%;
    left: 83%;
}

h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

span{

    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    letter-spacing: -0.5px;

}

b {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.6px;
}
}
