/* New arrivals */
.new_arrivals
{
    width: 200px;
    height: 44px;
    /*left: 815px;*/


    /* Headline / 4 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */

    letter-spacing: -1.2px;

    color: #000000;

}

/* Add to bag/Off */
.add_to_bag
{
    /*position: absolute;*/
    left: 37.2%;
    /*right: 3.33%;*/
    top: 60.6%;
    /*bottom: 23.82%;*/


    /* Inside auto layout */

    flex: none;
    order: 6;
    flex-grow: 0;
    z-index: 6;
}

/* Block */
.block
{

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Base / White */

    background: red;
    border-radius: 10px;
}

/* Icons/Base/shopping-bag */
.icon_shopping_bag
{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
}

/* Vector */
.icon_shopping_bag_vector
{
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 8.33%;
    bottom: 8.33%;

    /* Accent 1 / 4 */

    /*background: #2D74FF;*/
}

.frame11
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 40px;

    width: 300px;
    height: 18px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.text_7142
{
    width: 45px;
    height: 18px;

    /* Caption / 3 / Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: -0.5px;

    /* Grey / Dark / 4 */

    color: rgba(0, 0, 0, 0.6);


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
}

.frame10
{
    display: flex;
    /*flex-direction: row;*/
    /*justify-content: center;*/
    align-items: flex-start;
    padding: 0px;
    gap: 116px;

    width: 300px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

/* Basic t-shirt */
.basic_t_shirt {
    width: 146px;
    height: 40px;

    /* Caption / 3 / Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    letter-spacing: -0.5px;

    /* Base / Black */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Price */
.price1
{

    width: 37px;
    height: 24px;

    /* Caption / 1 / Medium */

    font-family: 'Inter';
    font-style: normal;
    /*font-weight: 500;*/
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    /*text-align: left;*/
    letter-spacing: -0.6px;

    /* Base / Black */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}
