/* Logo+Menu */

.logo_menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 525px;
    height: 30px;
    left: 30px;
    top: 25px;

}

/* LOGO */
.logo_menu
{
    width: 67px;
    height: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    /* Base / White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
