.menu
{
    /* Menu */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;

    width: 418px;
    height: 18px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Men */
.men
{
    width: 33px;
    height: 18px;

    /* Caption / 3 / Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    /* Base / White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Women */

.women
{
    width: 56px;
    height: 18px;

    /* Caption / 3 / Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    /* Grey / Light / 4 */

    color: rgba(255, 255, 255, 0.5);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Kids */

.kids
{
    width: 33px;
    height: 18px;

    /* Caption / 3 / Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    /* Grey / Light / 4 */

    color: rgba(255, 255, 255, 0.5);


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

/* Sale */

.sale
{
    width: 32px;
    height: 18px;

    /* Caption / 3 / Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    /* Grey / Light / 4 */

    color: rgba(255, 255, 255, 0.5);


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

/* Collections */

.collection
{
    width: 81px;
    height: 18px;

    /* Caption / 3 / Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    /* Grey / Light / 4 */

    color: rgba(255, 255, 255, 0.5);


    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}

/* Blog */

.blog
{
    width: 33px;
    height: 18px;

    /* Caption / 3 / Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;
    letter-spacing: -0.5px;

    /* Grey / Light / 4 */

    color: rgba(255, 255, 255, 0.5);


    /* Inside auto layout */

    flex: none;
    order: 5;
    flex-grow: 0;
}

/* Inputs / 40px / Text */





