/* Icons/Base/user */

.icon_base_user
{

    width: 20px;
    height: 20px;
    /*left: 2770px;*/
    top: 30px;
}

.icon_shopping_bag
{

    width: 20px;
    height: 20px;
    left: 1485px;
    top: 30px;
}

/* Line */
.line
{
    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    /* Grey / Light / 1 */

    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

input
{
    border: none;
    color: #868686;
}



