/* Pagionations / 3 */
.pagionations
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 377px;
    height: 50px;
    left: 610px;
    top: 2298px;

    /* Base / White */

    background: #FFFFFF;
    /* Grey / Dark / 2 */

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Prev */
.prev
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 15px;
    gap: 10px;

    width: 54px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Icons / Navigation / chevron left */
.chevron_left
{
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.chevron_left_vector
{
    position: absolute;
    left: 5.5%;
    right: 33.83%;
    top: 30.75%;
    bottom: 13.75%;

    /* Grey / Dark / 3 */

    /*background: rgba(0, 0, 0, 0.3);*/
}
.num_03
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    /*gap: 10px;*/

    width: 20px;
    height: 20px;

    /* Accent 1 / 4 */

    background: #2D74FF;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.number_1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

    width: 19px;
    height: 20px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text_1
{
    width: 9px;
    height: 20px;

    /* Caption / 2 / Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;

    /* Base / White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.num_02
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    /*gap: 10px;*/

    width: 20px;
    height: 20px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.number_2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

    width: 21px;
    height: 20px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text_2
{
    width: 11px;
    height: 20px;

    /* Caption / 2 / Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;

    /* Grey / Dark / 3 */

    color: rgba(0, 0, 0, 0.3);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.num_04
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 10px;

    width: 20px;
    height: 20px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.number_4
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

    width: 22px;
    height: 20px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text_4
{
    width: 12px;
    height: 20px;

    /* Caption / 2 / Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;

    /* Grey / Dark / 3 */

    color: rgba(0, 0, 0, 0.3);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.num_05
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 10px;

    width: 20px;
    height: 20px;

    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}

.number_5
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

    width: 25px;
    height: 20px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text_5
{
    width: 15px;
    height: 20px;

    /* Caption / 2 / Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;

    /* Grey / Dark / 3 */

    color: rgba(0, 0, 0, 0.3);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.num_06
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 10px;

    width: 20px;
    height: 20px;

    /* Inside auto layout */

    flex: none;
    order: 5;
    flex-grow: 0;
}

.number_6
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 32px;
    height: 20px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text_6
{
    width: 22px;
    height: 20px;

    /* Caption / 2 / Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;

    /* Grey / Dark / 3 */

    color: rgba(0, 0, 0, 0.3);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.next
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 15px;
    gap: 10px;

    width: 54px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 6;
    flex-grow: 0;
}

.chevron_right
{
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.chevron_right_vector
{
    position: absolute;
    left: 93.83%;
    right: 25.5%;
    top: 30.75%;
    bottom: 13.75%;

    /* Grey / Dark / 3 */

    /*background: rgba(0, 0, 0, 0.3);*/
}