.subscribtion
{
    position: relative;
    width: 100%;
    height: 440px;
    background: #2D74FF;
}

.textSub
{
    position: absolute;
    width: 599px;
    height: 258px;
    left: 155px;
    top: 91px;
}

.newsletter
{
    position: absolute;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.5);

}

.subscribeText
{
    position: absolute;
    left: 0%;
    bottom: 43.41%;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1.6px;
    color: #FFFFFF;
}

.form
{
    position: absolute;
    left: 9.69%;
    right: 63.38%;
    top: 65.68%;
    bottom: 20.68%;
}
.input
{
    width: 280px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 10px;
}

.text_input
{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 20px 20px;
}

.button
{
    display: flex;
    padding: 18px 20px;
    gap: 10px;

    position: absolute;
    left: 68.5%;
    /*right: 65.38%;*/
    top: 0%;
    /*bottom: 20.68%;*/

    /* Base / Black */

    background: #000000;
    border-radius: 10px;
}

.text_button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 2px;

    width: 96px;
    height: 24px;
}

.text_button_sub
{
    width: 92px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;

    display: flex;
    align-items: center;
    letter-spacing: -0.6px;
    color: #FFFFFF;
}
.base_img
{
    position: absolute;
    left: 50%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: url("../images/Base.png");
}

@media (max-width: 680px) {
    .base_img {
        display: none;
    }
}

@media (max-width: 480px) {
    .subscribtion {
        display: none;
    }
}