.cart_item_img {
    height: 200px;
    width: 165px;
    object-fit: scale-down;
    border-radius: 10px;
}

.main{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(0, 0, 0, 0.3);
}