.cart_item_img {
    height: 200px;
    width: 165px;
    object-fit: scale-down;
    border-radius: 10px;
}

.main {
    margin: 30px 0 40px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(0, 0, 0, 0.3);
}

.mb30 {
    margin-bottom: 30px;
}

.br {
    margin: 30px 0 30px 0;
    border-top: rgba(0, 0, 0, 0.10) solid 1px;
    height: 1px;
    width: 100%;
}

.title {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.6px;
}

.fullPrice {
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-decoration: line-through;
    text-decoration-color: rgba(250, 74, 105, 1);
}

.minContentHeight {
    height: min-content;
}

.discount {
    position: absolute;
    left: 16px;
    top: 13px;
    height: 24px;
    padding: 3px 6px;
    align-items: center;
    border-radius: 20px;
    background-color: #FA4A69;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}

.summary {
    margin: 23px 0 26px 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.8px;
}

.subtotal1 {
    margin: 30px 0 16px 0;
    padding: 0;
    border: none;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.6px;
}

.subtotal2 {
    padding: 0 0 30px 0;
    margin-bottom: 28px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.6px;
}

.total {
    padding: 0 0 28px 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6px;
}

.maxWidth100 {
    max-width: 100%;
}
