.navBar {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

.active {
    display: block;
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 30px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #d9d9d9;
}