/* Dark theme */
.navBarDark {
    --bg-color: #1a1a1a;
    --text-color: rgba(255, 255, 255, 0.5);
    /*--active-bg-color: #f31818;*/
    --active-text-color: #ffffff;
}

/* Light theme */
.navBarLight {
    --bg-color: #ffffff;
    --text-color: rgba(51, 51, 51, 0.3);
    --active-text-color: #333333;
}

.navBarDark {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navBarLight {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navBarDark .imgProfile {
    filter: invert(1);
}

.navBarDark .imgCart {
    filter: invert(1);
}

.navContainer {
}

.navBar {
    margin: 0;
    padding: 0;
}

.navItem {
    float: left;
}

.navItem span {
    /*color: black;*/
    display: block;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

.active {
    /*background-color: var(--active-bg-color);*/
    color: var(--active-text-color);
    font-weight: bold;
}

.navItemRight {
    float: right;
}

.navItemRight div {
    position: relative;
    margin: 20px;
    display: inline-block;
}


.navItem :hover {
    cursor: pointer;
    background-color: rgba(210, 210, 210, 0.1);
}

.lineDevider {
    height: 1px;
    width: 100vw;
    background-color: rgba(231, 231, 231, 0.2);
}

.imgProfile {
    cursor: pointer;
}

.imgCart {
    height: 20px;
    width: 16px;
}

.cartContainer {
    position: relative;

}

.cartBadge {
    position: absolute;
    top: -15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #2984fc;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1rem;
}

.search {
    background-color: var(--bg-color);
    display: inline-block;
    margin-right: 16px;
    padding: 13px 13px 13px 33px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    width: 250px;
    height: 40px;
}

.searchLink {
    position: absolute;
    top: 34px;
    left: 10px;
    display: inline-block;
    cursor: pointer;

}

.searchLink:hover {
    background: none;
}

.searchBtn {
    position: absolute;
    top: 34px;
    left: 10px;
    display: inline-block;
    cursor: pointer;
}

/*.dark{*/
/*    color: #FFFFFF;*/
/*}*/
/*.white{*/
/*    color: #000000;*/
/*}*/