.main{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(0, 0, 0, 0.3);
}

.error {
    margin-top: 94px;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -4.5px;
}

.msg {
    color: rgba(0, 0, 0, 0.3);
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
}

.btn {
    margin-top: 44px;
    margin-bottom: 48px;
    padding: 18px 20px;
    border-radius: 10px;
    background: #000;
    color: #FFF;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6px;
}