
.modalOverlay {
    min-width: 320px;
    z-index: 9999;
    width: 101vw;
    height: 101vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;

    justify-content: center;
    align-items: center;
}

.modalBox {
    padding: 1rem;

}

.modalBox img {
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-height: 95vh;
    max-width: 95vw;
}

.iconClose {
    position: absolute;
    right: 10%;
    top: 5%;
    cursor: pointer;
    width: 70px;
    height: 70px;
}
