.wrapper {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 2486px;
    background: #FFFFFF;
    position: relative;
}

.item1 {
    /*grid-area: item;*/
    margin: 3px;
    width: 200px;
    height: 500px;
    background-color: gold;
}

.big_text {
    position: absolute;
    width: 1290px;
    height: 540px;
    left: 155px;
    top: 160px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.divider {
    position: absolute;
    left: 49.92%;
    right: 50%;
    top: 3.7%;
    bottom: 3.7%;
    background: rgba(0, 0, 0, 0.1);
}
.divider_horizontal {
    position: absolute;
    left: 51.55%;
    right: 1.55%;
    top: 50%;
    bottom: 49.81%;
    background: rgba(0, 0, 0, 0.1);
}
.big_text_header {
    position: absolute;
    left: 1.55%;
    right: 52.71%;
    top: 11.85%;
    bottom: 49.26%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -3px;
    color: #000000;
}
.btn_read_more {
    height: 50px;
    width: 127px;
    left: 20px;
    top: 304px;
    border-radius: 10px;
    padding: 15px 16px 15px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
    position: absolute;
    left: 1.55%;
    right: 88.6%;
    top: 56.3%;
    bottom: 34.44%;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

}
.articles_wrapper {
    position: absolute;
    left: 90px;
    right: 52.71%;
    top: 30.85%;
    bottom: 49.26%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1600px;
    height: 1140px;
}




