
.articles_wrapper {
    /*position: absolute;*/
    /*left: 140px;*/
    /*right: 52.71%;*/
    /*top: 30.85%;*/
    /*bottom: 49.26%;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1600px;
    height: 1140px;
}

.wrapper {
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    width: 1600px;
    height: 2486px;
    background: #FFFFFF;
}


