
.headers_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    border-radius: 10px;
    max-width: 1290px;

}
.headers_container span {
    height: fit-content;
}

.left_header {
    padding-top: 64px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    border-right: rgba(0, 0, 0, 0.1) solid 1px;
    align-content: space-between;
    height: 540px;
    width: 644px;
}

.right_header {
    justify-content: space-between;
    margin: auto;
    height: 540px;
    width: 644px;
    display: grid;
    grid-template-columns: 1fr;
}



.right_header_col {
    width: 644px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.right_header_item {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-between;

}

.big_text_header {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -3px;
    color: #000000;
    text-transform: uppercase;
}

.btn_read_more {
    margin-top: 30px;
    height: 50px;
    width: 127px;
    border-radius: 10px;
    padding: 15px 16px 15px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.btn_read_more:hover {
    cursor: pointer;
    opacity: 0.7;
}



/* Mobile Devices */
@media (max-width: 767px) {

    .left_header {
        border-right: none;
    }
    .right_header {
        border-top:  rgba(0, 0, 0, 0.1) solid 1px;
    }
    .headers_container {
        width: 644px;
        grid-template-columns: 1fr;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .left_header {
        border-right: none;
    }

    .right_header {
        border-top:  rgba(0, 0, 0, 0.1) solid 1px;
    }
    .headers_container {
        width: 644px;
        grid-template-columns: 1fr;
    }
}

/* Desktops and Laptops */
@media (min-width: 1024px) {

}

